.ProductFilter {
  &__select {
    height: 44px;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    line-height: 1;
    font-size: 14px;
    &:hover {
      background-color: #fff !important;
      color: #4E5057 !important;
    }
    &:focus {
      box-shadow: none !important;
    }
    &::after {
      position: absolute;
      right: 15px;
    }
  }
}